@import '../../styles/variables';

.btn{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: .8rem 1rem;
    transition: background .3s;

    &--primary{
        background-color: $color-blue-dark;
        color: white;

        &:hover{
            background-color: darken($color-blue-dark, 10);
        }
    }
}