.footer{
    // height: 30rem;
    max-width: 190rem;
    margin: 0 auto;
    margin-top: -20rem;
    padding-bottom: 10rem;
    padding-top: 20rem;
    background: url('../../assets/svgs/footerFlame.svg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    &__logo{
        display: block;
        width:8rem;
        margin: 0 auto;
    }
}